### 配置Anaconda国内源
- 修改C:\Users\username下的.condarc文件，修改为以下内容

ssl_verify: true
channels:
  - https://mirrors.ustc.edu.cn/anaconda/pkgs/main/
  - https://mirrors.ustc.edu.cn/anaconda/pkgs/free/
  - https://mirrors.ustc.edu.cn/anaconda/cloud/conda-forge/
  - https://mirrors.ustc.edu.cn/anaconda/cloud/msys2/
  - https://mirrors.ustc.edu.cn/anaconda/cloud/bioconda/
  - https://mirrors.ustc.edu.cn/anaconda/cloud/menpo/

  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free/
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/msys2/
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch/

show_channel_urls: true

#### 安装mySQL库

#安装PyMySQL
conda install pymysql
#或
pip install pymysql

#### 引入库

In [3]:
import pymysql

#### 连接字符串

In [59]:
DB_INFO={
    'host':'127.0.0.1',
    'database':'testdb',   #数据库名，建立新库时确定
    'user':'root',         #数据库用户
    'password':'123f456j', #数据库密码
    'charset':'utf8'       #字符类型（显示中文时使用）
}
db=pymysql.connect(**DB_INFO)
#等价于
#db=pymysql.connect(host='localhost',user='root',password='root',db='123f456j'，charset='utf8')

#### 新建'游标'用于发送、接收SQL语句

In [64]:
cursor=db.cursor()

#### 新建数据表

In [67]:
#建立学生表
sql = """
        CREATE TABLE IF NOT EXISTS student(
        id INT AUTO_INCREMENT PRIMARY KEY,
        name char(40),
        age int,
        address char(160)
        );
    """

cursor=db.cursor()
cursor.execute(sql)
db.commit()

In [68]:
#建立分数表
sql = """
        CREATE TABLE IF NOT EXISTS score(
        id INT AUTO_INCREMENT PRIMARY KEY,
        stu_id int,
        score int
        );
    """

cursor=db.cursor()
cursor.execute(sql)
db.commit()

#### 插入数据

In [70]:
#插入学生数据
def stuInsert(name,age,addr='厦门大学翔安校区'):
    sql = "INSERT INTO student (name,age,address) VALUES (%s , %s , %s)"
    val = (name, age,addr)
    cursor=db.cursor()
    cursor.execute(sql,val)
    db.commit()

stuInsert("小赵", '18')
stuInsert("小王", '19')
stuInsert("小李", '17')    
stuInsert("小张", '18',"厦门大学思明校区")

In [71]:
#插入分数数据
def scoreInsert(stu_id,score):
    sql = "INSERT INTO score (stu_id,score) VALUES (%s , %s)"
    val = (stu_id, score)
    cursor=db.cursor()
    cursor.execute(sql,val)
    db.commit()

scoreInsert("1", '98')
scoreInsert("2", '84')
scoreInsert("3", '54')    
scoreInsert("4", '24')

#### select

In [75]:
#按条件检索学生
def selStu(where='',limit=''):
    sql = "SELECT * FROM student"
    if where:
        sql+=' WHERE '+where
    if limit:
        sql+=' LIMIT '+limit
    cursor=db.cursor()
    cursor.execute(sql)
    print(sql)
    #db.commit()
    students=cursor.fetchall()
    return students

students=selStu(where="address='厦门大学翔安校区'",limit="2")
for stu in students:
    print(stu)

SELECT * FROM student WHERE address='厦门大学翔安校区' LIMIT 2
(1, '小赵', 18, '厦门大学翔安校区')
(2, '小王', 20, '厦门大学翔安校区')

#### 删除

In [73]:
sql = "DELETE FROM student WHERE age ='17'"
cursor=db.cursor()
cursor.execute(sql)
db.commit()

students=selStu()
for stu in students:
    print(stu)
#把刚删除的数据加回去    
stuInsert("小李", '17')

(1, '小赵', 18, '厦门大学翔安校区')
(2, '小王', 19, '厦门大学翔安校区')
(4, '小张', 18, '厦门大学思明校区')

#### 更新

In [74]:
sql = "UPDATE student SET age='20' WHERE name ='小王'"
cursor=db.cursor()
cursor.execute(sql)
db.commit()

students=selStu()
for stu in students:
    print(stu)

(1, '小赵', 18, '厦门大学翔安校区')
(2, '小王', 20, '厦门大学翔安校区')
(4, '小张', 18, '厦门大学思明校区')
(5, '小李', 17, '厦门大学翔安校区')